<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="nav-bar">
        <a href="/" class="nav-link" id="home-link">Home</a>
        <a href="/config" class="nav-link" id="config-link">Config</a>
    </div>
    <div id="status-container"><b>Status:</b> <span id="status">checking...</span></div>
    <div id="entity-container"></div>
    <div class="main-container-wrapper">
        <div class="main-container">
            <div id="map-container">
                <div id="map"></div>
            </div>
            <div id="chat-box"><b>Chat data will be listed here...</b></div>
        </div>
    </div>
    <div id="control-buttons">
        <button id="toggle-button" onclick="toggleGame()">Pause</button>
        <button id="start-stop-button" onclick="startStopGame()">Start</button>
    </div>
    <script>
        var socket = io();
        var gameRunning = false;
        var seenMessages = new Set();

        // Assuming the size of the map container is still designed for a 10x10 grid
        var mapWidth = 500; // Width of the map container in pixels
        var mapHeight = 500; // Height of the map container in pixels
        var gridSizeX = 500; // Width of the grid in game coordinates
        var gridSizeY = 500; // Height of the grid in game coordinates

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from server');
        });

        socket.on('status', function(data) {
            document.getElementById('status').textContent = data.status;
            gameRunning = data.status === 'running';
            document.getElementById('toggle-button').innerText = gameRunning ? "Pause" : "Resume";
            document.getElementById('start-stop-button').innerText = gameRunning ? "Reset" : "Start";
        });

        socket.on('reset_response', function(data) {
            console.log(data.message);
            clearDisplay();
        });

        socket.on('start_response', function(data) {
            console.log(data.message);
        });

        socket.on('stop_response', function(data) {
            console.log(data.message);
        });

        socket.on('pause_response', function(data) {
            console.log(data.message);
            gameRunning = false;
            updateStatus();
        });

        socket.on('resume_response', function(data) {
            console.log(data.message);
            gameRunning = true;
            updateStatus();
        });

        socket.on('bot_data', function(data) {
            console.log("Received data:", data); // Check the format of received data
            if (data && data.length > 0) {
                updateDisplay(data);
            } else {
                console.log("No data or empty data received");
            }
        });

        function toggleGame() {
            if (gameRunning) {
                socket.emit('pause');
            } else {
                socket.emit('resume');
            }
        }

        function startStopGame() {
            if (gameRunning) {
                socket.emit('reset');
            } else {
                socket.emit('start');
            }
        }

        function clearDisplay() {
            clearChatMessages();
            clearMap();
            clearEntities();
            gameRunning = false;
        }

        function clearChatMessages() {
            var chatBox = document.getElementById("chat-box");
            chatBox.innerHTML = '<b>Chat data will be listed here...</b>';
            seenMessages.clear();
        }

        function clearMap() {
            var map = document.getElementById("map");
            map.innerHTML = '';
        }

        function clearEntities() {
            var entityContainer = document.getElementById("entity-container");
            entityContainer.innerHTML = '';
        }

        function updateStatus() {
            document.getElementById('status').textContent = gameRunning ? 'running' : 'stopped';
            document.getElementById('toggle-button').innerText = gameRunning ? "Pause" : "Resume";
            document.getElementById('start-stop-button').innerText = gameRunning ? "Reset" : "Start";
        }

        function updateDisplay(data) {
            console.log("Updating display with data:", data); // Log data to see what's being processed
            var entities = {};
            var entityContainer = document.getElementById("entity-container");
            entityContainer.innerHTML = '';
            data.forEach(item => {
                console.log("Processing item:", item); // Check each item
                var x = Math.floor((item.x / gridSizeX) * mapWidth);
                var y = Math.floor((item.y / gridSizeY) * mapHeight);
                var position = `${x},${y}`;
                if (!entities[position]) {
                    entities[position] = [];
                }
                var image = item.health_points <= 0 ? 'corpse.png' : item.image;
                entities[position].push({name: item.entity.toLowerCase(), image: image});
                var ability = item.ability;
                var abilityTarget = item.ability_target;
                addChatMessage(item.entity, item.thought, item.talk, ability, abilityTarget, item.time, item.image);
                var healthPercentage = (item.health_points / item.max_hp) * 100;
                var entityHtml = `<div class="entity">
                    <img src='static/${image}'>
                    <div>${item.entity}</div>
                    <div class="hp-bar">
                        <div class="hp-bar-fill" style="width: ${Math.max(0, healthPercentage)}%"></div>
                    </div>
                </div>`;
                entityContainer.innerHTML += entityHtml;
            });
            updateMap(entities);
        }

        function updateMap(entities) {
            var map = document.getElementById("map");
            map.innerHTML = '';
            for (var position in entities) {
                var coords = position.split(',');
                var x = parseInt(coords[0]);
                var y = parseInt(coords[1]);
                var localEntities = entities[position];
                localEntities.forEach(entity => {
                    var entityHtml = `<div class="img-container" style="background-image: url('static/${entity.image}'); left: ${x}px; top: ${y}px; width: 32px; height: 32px;"></div>`;
                    map.innerHTML += entityHtml;
                });
            }
        }

        function addChatMessage(entity, thought, talk, ability, abilityTarget, time, image) {
            var messageId = entity + time;
            if (seenMessages.has(messageId)) {
                return;
            }
            seenMessages.add(messageId);
            var chatBox = document.getElementById("chat-box");
            var messageHTML = `<div class="chat-message">
                <img src='static/${image}'>
                <div class="chat-message-content">
                    <div><b>${entity}</b> thinks: "${thought}"</div>
                    <div><b>${entity}</b> says: "${talk}"</div>
                    ${ability && abilityTarget ? `<div><b>${entity}</b> ${ability}s ${abilityTarget}</div>` : ''}
                    <div>Time: ${time}</div>
                </div>
            </div>`;
            chatBox.innerHTML += messageHTML;
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        document.addEventListener('DOMContentLoaded', function() {
            var path = window.location.pathname;
            if (path === "/config") {
                document.getElementById('config-link').classList.add('active');
            } else {
                document.getElementById('home-link').classList.add('active');
            }
        });
    </script>
</body>
</html>